<footer class="mt-5">
  <ul class="nav justify-content-center align-items-center">
    <li class="nav-item">
      <a href="#" class="nav-item px-2">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item px-2">About</a>
    </li>
    <li class="ms-3">
      <a href="#" class="nav-item px-2">
        <em class="bi bi-instagram"></em>
      </a>
    </li>
    <li class="ms-3">
      <a href="#" class="nav-item px-2">
        <em class="bi bi-facebook"></em>
      </a>
    </li>
    <li class="ms-3">
      <a href="#" class="nav-item px-2">
        <em class="bi bi-twitter"></em>
      </a>
    </li>
  </ul>
  <p class="text-center mt-2 cursor-d">&copy; 2022 Patika, Inc</p>
</footer>
