<div class="container border-top pt-4">
  <div class="container col-lg-10 col-md-12">
    <div
      class="container py-3 text-center border rounded cursor-d"
      *ngIf="cartItems.length == 0; else cart"
    >
      Your cart is empty.
    </div>
    <ng-template #cart>
      <table class="table table-responsive align-middle cursor-d">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor-p" *ngFor="let item of cartItems; let i = index">
            <td class="fw-bold">{{ i + 1 }}</td>
            <td routerLink="/productdetails/{{ item.product.id }}">
              {{ item.product.name }}
            </td>
            <td routerLink="/productdetails/{{ item.product.id }}">
              {{ item.product.unitPrice }}
            </td>
            <td routerLink="/productdetails/{{ item.product.id }}">
              {{ item.quantity }}
            </td>
            <td routerLink="/productdetails/{{ item.product.id }}">
              {{ item.product.unitPrice * item.quantity }}
            </td>
            <td>
              <button
                class="btn btn-outline-light"
                (click)="removeFromCart(item)"
              >
                Remove <em class="bi bi-trash"></em>
              </button>
            </td>
          </tr>
          <tr>
            <td class="fw-bold">Cart Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold">{{ totalPrice }} <strong>₺</strong></td>
            <td>
              <button
                type="button"
                class="btn btn-outline-light fw-bold"
                routerLink="payment"
              >
                Confirm
                <em class="bi bi-check-lg"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
