<nav class="navbar container navbar-expand-lg navbar-light border-0">
  <div class="container">
    <ul class="nav nav-pills fs-6 m-auto justify-content-sm-center">
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">All Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" class="nav-link">Category</a>
      </li>
    </ul>
  </div>
</nav>
