<app-logo>
  <p class="cursor-d fs-5">
    Welcome to Patika Shop! <br />Please login or register to see products.
  </p>
</app-logo>
<div class="container">
  <div
    class="d-flex justify-content-center row row-cols-lg-2 row-cols-md-2 row-cols-sm-1"
  >
    <div class="col-lg-4 col-md-4 col-sm-8 mt-3">
      <button
        type="button"
        routerLink="/login"
        class="btn btn-outline-light px-2 w-100 fs-5"
      >
        Sign In
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 mt-3">
      <button
        type="button"
        routerLink="/register"
        class="btn btn-outline-light px-2 w-100 fs-5"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
