<app-logo>
  <p class="cursor-d fs-5">Oops something went wrong!</p>
</app-logo>
<div class="container cursor-d">
  <div class="d-flex justify-content-center row row-cols-1 mx-1">
    <div
      class="col-lg-5 col-md-6 col-sm-8 mt-3 text-center border-d-w p-5 rounded-5"
    >
      <h1 class="border-bottom">404</h1>
      <p id="not-found-1">THE PAGE</p>
      <p id="not-found-2">WAS NOT FOUND</p>
      <button class="btn btn-outline-light fs-6 mt-3" routerLink="">
        Back to main page
      </button>
    </div>
  </div>
</div>
